/* GENERAL-STYLE */
:root {
    --component-color: #ff7500;
    --background-color: #252420;
    --text-color: #000;
    --heading-font-family: "Roboto Condensed", "Arial", sans-serif;
    --paragraph-font-family: "Roboto", "Arial", sans-serif;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    font-family: var(--paragraph-font-family);
}

.container {
    width: 100%;
    max-width: 1130px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

*:focus {
    outline: 2px dashed var(--component-color);
    outline-offset: 2px;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* SITE-MAIN */
.main {
    flex-grow: 1;
}

/* SITE-LINE */
.site-line {
    max-width: 80px;
    height: 3px;
    border: 0;
    margin: 0;
    margin-bottom: 40px;
    background-color: var(--component-color);
}

/* SITE-LOGO */
.site-logo {
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: opacity 0.4s ease;
}

.site-logo:hover {
    opacity: 0.8;
}

.site-logo:active {
    opacity: 0.6;
}

.site-logo-img {
    width: 38px;
    height: 60px;
    margin-right: 12px;
}

.site-logo-text-black {
    color: var(--background-color);
}

.site-logo-text-orange {
    color: var(--component-color);
}

.site-logo-text-black,
.site-logo-text-orange {
    font-family: var(--heading-font-family);
    font-size: 32px;
    font-weight: 700;
}

/* SITE-BUTTON */
.orange-button {
    padding: 12px 24px;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    display: inline-block;
    background-color: var(--component-color);
}


/* SITE-HEADER */
.header {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 5px solid var(--component-color);
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #fff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.sitenav-wrapper {
    display: flex;
    align-items: center;
}

/* SITENAV */
.sitenav-list {
    padding: 0;
    margin: 0;
    margin-right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sitenav-link {
    cursor: pointer;
    color: var(--text-color);
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.4s ease, opacity 0.4s ease;
}

.sitenav-link:hover {
    color: var(--component-color);
}

.sitenav-item:not(:last-child) {
    margin-right: 32px;
}

.sitenav-item:active {
    opacity: 0.6;
}

/* MENU-ICON */
.toggle-btn {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 5px;
}

.toggle-btn svg {
    display: block;
    width: 35px;
    height: 35px;
}

.toggle-btn:hover {
    opacity: 0.8;
}

.toggle-btn:active {
    opacity: 0.6;
}


/* SITE-HERO */
.hero {
    padding-top: 80px;
    padding-bottom: 80px;
    color: #fff;
    background-color: var(--background-color);
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.hero-text-content {
    max-width: 390px;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.5px;
    font-family: var(--heading-font-family);
}

.hero-img {
    width: 510px;
    height: 510px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 24px 24px 0px 0px rgba(255, 117, 0, 0.6);
    position: absolute;
    top: -40px;
    right: 25px;
}

.hero-subtitle {
    margin-top: 0;
    margin-bottom: 32px;
    line-height: 1.5;
    letter-spacing: 0.5px;
}


/* SITE-FEATURE */
.feature {
    padding-top: 210px;
    padding-bottom: 210px;
    display: flex;
    flex-direction: column;
}

.feature-title {
    margin-top: 0;
    margin-bottom: 72px;
    text-align: left;
    font-size: 72px;
    font-family: var(--heading-font-family);
}

.feature-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
}

.feature-list h3, p {
    margin: 0;
}

.feature-list h3 {
    margin-bottom: 12px;
    font-family: var(--heading-font-family);
}

.feature-item {
    max-width: calc(100% - 40px / 3);
}

.feature-item:not(:last-child) {
    margin-right: 3.63%;
}

.feature-list h3 {
    font-size: 24px;
}

.feature-title,
.feature-list h3 {
    color: var(--text-color);
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

.feature-list p {
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.feature-background-shape {
    width: 100px;
    height: 100px;
    margin-bottom: 32px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 117, 0, 0.20);
}


/* SITE-SALE */
.sale {
    padding-top: 120px;
    padding-bottom: 160px;
}

.sale-inner {
    padding: 64px;
    display: flex;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    color: #fff;
    position: relative;
}

.sale-title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 24px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    font-family: var(--heading-font-family);
}

.sale-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.sale-subtitle:not(:last-child) {
    margin-bottom: 12px;
}

.sale-text-wrapper {
    margin-bottom: 24px;
}

.sale-img {
    width: 440px;
    height: 440px;
    object-fit: cover;
    border-radius: 12px;
    position: absolute;
    right: 64px;
    bottom: 64px;
}

.sale-text-content {
    max-width: 440px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sale-text-content span {
    color: var(--component-color);
    font-weight: 700;
}


/* SITE-FOOTER */
.footer {
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: #f8f8f8;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top-item {
    display: block;
}

.footer-top-item:not(:last-child) {
    margin-right: 16px;
}

.footer-top svg {
    width: 24px;
    height: 24px;
    color: var(--background-color);
    display: block;
    transition: color 0.4s ease;
}

.footer-top-list {
    display: flex;
    padding: 0;
    margin: 0;
}

.footer-top-list svg:hover {
    color: var(--component-color);
}

.footer-top-list svg:active {
    opacity: 0.6;
}

.footer-line {
    border: 0;
    margin: 0;
    height: 2px;
    margin-top: 40px;
    margin-bottom: 64px;
    background: rgba(37, 36, 32, 0.50);
}

.footer-bottom {
    display: flex;
    align-items: self-start;
}

.footer-bottom-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
    padding: 10px;
    margin: 0;
}

.footer-bottom-item {
    cursor: pointer;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-bottom-link {
    line-height: 19px;
    color: var(--background-color);
    transition: color 0.4s ease;
}

.footer-bottom-link:hover {
    color: var(--component-color);
}

.footer-bottom-item:active {
    opacity: 0.6;
}


/* MEDIA-QUERIES */
@media only screen and (max-width: 1100px) {
    .sale-inner {
        padding: 30px;
    }
    
    .sale-img {
        position: static;
    }
}

@media only screen and (max-width: 1000px) {
    .site-line {
        max-width: 390px;
        align-self: center;
    }
    
    .sitenav-wrapper {
        position: absolute;
        z-index: 10;
        background-color: #fff;
        width: 100%;
        left: 0;
        top: 60px;
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 20px;
        display: none;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom: 5px solid var(--component-color);
    }
    
    .sitenav-wrapper.menu-open {
        display: flex;
    }
    
    .sitenav-list {
        flex-direction: column;
        margin-right: 0;
        margin-bottom: 20px;
        gap: 15px;
    }
    
    .sitenav-item:not(:last-child) {
        margin-right: 0;
    }
    
    .toggle-btn {
        display: flex;
    }
    
    .site-logo {
        margin-right: 25px;
        flex-shrink: 0;
    }
    
    .hero {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .hero-img {
        position: static;
        box-shadow: 0px 20px 0px 0px rgba(255, 117, 0, 0.6);
    }
    
    .hero-container {
        flex-direction: column-reverse;
    }
    
    .hero-text-content {
        text-align: center;
        margin-top: 50px;
    }
    
    .site-line {
        width: 100%;
    }
    
    .feature {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .feature-title {
        text-align: center;
    }
    
    .feature-list {
        flex-direction: column;
        align-items: center;
    }
    
    .feature-list h3 {
        text-align: center;
    }
    
    .feature-item {
        max-width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    
    .feature-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 25px;
    }
    
    .feature-list p {
        text-align: center;
    }
    
    .sale {
        padding-top: 0;
        padding-bottom: 100px;
    }
    
    .sale-inner {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
    }
    
    .sale-title,
    .sale-subtitle {
        text-align: center;
    }
    
    .orange-button {
        align-self: center;
    }
    
    .footer {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    .footer-line {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    
    .footer-bottom {
        gap: 25px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .footer-bottom-list {
        width: 45%;
    }
}

@media only screen and (max-width: 500px) {
    .site-logo-img {
        width: 28px;
        height: 50px;
    }
    
    .site-logo-text-black, .site-logo-text-orange {
        font-size: 28px;
    }
    
    .hero-img {
        width: 400px;
        height: 400px;
    }
    
    .hero-title,
    .sale-title {
        font-size: 32px;
    }
    
    .feature-title {
        font-size: 48px;
    }
    
    .sale-inner {
        padding: 15px;
    }
    
    .footer-bottom-list {
        width: 100%;
    }
    
    .footer-top {
        flex-direction: column;
        gap: 20px;
    }
    
    .footer-top .site-logo {
        margin-right: 0;
    }
}

@media only screen and (max-width: 600px) {
    .feature-item {
        max-width: 90%;
    }
}

@media only screen and (max-width: 400px) {
    .sale-img {
        width: 350px;
        height: 350px;
    }
}

@media only screen and (max-width: 350px) {
    .feature-title {
        font-size: 40px;
    }
    
    .sale-title {
        font-size: 28px;
    }
}

@media only screen and (max-width: 300px) {
    .hero-title {
        font-size: 25px;
    }
    
    .sale-title {
        font-size: 24px;
    }
    
    .sale-subtitle {
        font-size: 14px;
    }
}